.ancho-5 {
	width: 5%;
}
.ancho-10 {
	width: 10%;
}
.ancho-15 {
	width: 15%;
}
.ancho-20 {
	width: 20%;
}
.ancho-25 {
	width: 25%;
}
.ancho-30 {
	width: 30%;
}
.ancho-31 {
	width: 31%;
}
.ancho-32 {
	width: 32%;
}
.ancho-33 {
	width: 33%;
}
.ancho-34 {
	width: 34%;
}
.ancho-35 {
	width: 35%;
}
.ancho-40 {
	width: 40%;
}
.ancho-45 {
	width: 45%;
}
.ancho-50 {
	width: 50%;
}
.ancho-55 {
	width: 55%;
}
.ancho-60 {
	width: 60%;
}
.ancho-65 {
	width: 65%;
}
.ancho-70 {
	width: 70%;
}
.ancho-75 {
	width: 75%;
}
.ancho-80 {
	width: 80%;
}
.ancho-85 {
	width: 85%;
}
.ancho-90 {
	width: 90%;
}
.ancho-95 {
	width: 95%;
}
.ancho-100 {
	width: 100%;
}
