.fondo-gris-claro-1 {
	background: #eee;
}

.fondo-gris-claro-2 {
	background: #ddd;
}

.fondo-gris-claro-3 {
	background: #ccc;
}

.fondo-celeste-claro-1 {
	background: #E3F0F8;
}

.fondo-celeste-claro-2 {
	background: #BFE4FA;
}

.fondo-celeste-claro-3 {
	background: #66C2F8;
}